/*  your css code here. If applicable */
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
section{
	padding:10px;
	border:1px solid black;
	background-color:rgb(229,228,226);
}
.first{
	border:0 solid black;
	padding:15px;
	background-color:white;
	margin:10px;
}
p{
	text-align:right;
	text-decoration:bold;
	font-size:auto;
}
